<html>
    <head>
        <title>Animesh Wild Blogs</title>
    </head>
    <body>
        <div>
            <h1><a href="/"><u>Animesh Writes Something For U</u></a></h1>
        </div>


{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p style="margin-left: 2.5em;padding: 0 7em 2em 0;border-width: 2px; border-color: black; border-style:solid;">
			{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}

    </body>
</html>
